<h2>Olá {{ name }},</h2>
<p>
  Você solicitou recuperação da sua senha, caso queira prosseguir clique no link abaixo:
</p>
<p>
  <a href="">Recuperar Senha</a>
</p>
<p>Caso não tenha sido você quem fez a solicitação, favor descastar o e-mail.</p>
<p>
  <strong>Equipe Feroz Digital</strong>
</p>
